.heading{
    text-align:  center;
    background-color: #904844;
    height: 50px;
    padding-top: 30px;
    background-color: #e3dcdb;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
 }
 .text-container{
     display: flex;
     justify-content: space-around;
 }
 .input-text{
     width: 220px;
     height: 130px;
     font-size: 20px;
 }
 .result{
     text-align: center;
 }
 
 .container{
     background-color: #50433b;
     background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
     height: 290px;
     width: 500px;
 }